// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-brand {
  color: #59CC5D;
}
